* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 10px auto;
  /* background-color: #9cce92; */
  background-image: linear-gradient(to right, #9cce92, #b4d6f1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.list {
  border: 1px sold #707070;
  margin: 10px 50px;
  list-style: none;
}

li,
.item {
  border: 1px solid #707070;
  padding: 10px;
  max-width: 600px;
  margin: 5px auto;
  border-radius: 5px;
  text-align: center;
  color: #965f5f;
}
